<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Олимпиада по информатике</h1>
    <p>{{ name }}, поздравляем с прохождением на олимпиаду!. Вам будут представлены 3 задания, которые вы можете решать на одном из нижеперечисленных языков программирования:<br>
        <ul>
            <li>Python</li>
            <li>C++</li>
            <li>Pascal</li>
            <li>Java</li>
        </ul>
        Мы будем рады приветствовать вас 32 сентября в 16:00 по адресу ул.Пушкина д.Колотушкина.
    </p>
</body>
</html>