<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Добро пожаловать в магазин! Выберите, что хотите купить.</h1>
    <form method="get" action="/shop">
        <input type=submit value=Назад>
    </form>
    {% for product in cart %}
        {% if cart[product] > 0 %}
        <form method="post"><input type="submit" name="product" value={{ product }}>
        {{ cart[product] }}
        <br>
        {% endif %}
    {% endfor %}
    <form method="post" action="/cart">
        <input type=submit value=next>
    </form>
</body>
</html>