<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stihotvoreniye</title>
</head>
<body>
    {% if title %}
    <h1>{{ title }}</h1>
    {% endif %}
    <p>
    У лукоморья дуб {{ color }};<br>
    Златая цепь на дубе том:<br>
    И днём и ночью {{ animal }} учёный<br>
    Всё ходит по цепи кругом;<br>
    Идёт направо — песнь заводит,<br>
    Налево — сказку говорит.<br>
    Там чудеса: там {{ object }} бродит,<br>
    Русалка на ветвях сидит;<br>
    </p>
</body>
</html>