<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Статистика репозиториев по языку программирования:</h1>
    <ul>
        <form action="/cpp" method="POST">
        <li><button type="submit">C++</button></li>
        </form>
        <form action="/py" method="POST">
        <li><button type="submit">Python</button></li>
        </form>
        <form action="/js" method="POST">
        <li><button type="submit">JavaScript</button></li>
        </form>
    </ul>
    <img src="static\images\statistics.png">
</body>
</html>